[submodule "libs/cmock"]
	path = libs/cmock
	url = https://github.com/throwtheswitch/cmock

[submodule "libs/ecu-sim"]
	path = libs/ecu-sim
	url = https://github.com/RITRacingSoftware/ecu-sim.git
[submodule "libs/formula-main-dbc"]
	path = libs/formula-main-dbc
	url = https://github.com/RITRacingSoftware/Formula-Main-DBC.git
[submodule "libs/FreeRTOS-Kernel"]
	path = libs/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "libs/STM32CubeG4"]
	path = libs/STM32CubeG4
	url = https://github.com/STMicroelectronics/STM32CubeG4
